.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "LATO MEDIUM";
  font-style: normal;
  font-weight: normal;
  src: local("LATO MEDIUM"), url("./Lato-Medium.ttf") format("truetype");
}

body {
  background-image: url("./pics/mainpagebg.jpg");
  background-size: cover;
  position: relative;
}

div {
  text-align: center;
  color: white;
  font-family: "LATO MEDIUM";
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextButton:hover span {
  padding-right: 25px;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}

.prevButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prevButton span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.prevButton:hover span {
  padding-left: 25px;
}

.prevButton:hover span:after {
  opacity: 1;
  left: 0;
}

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(255, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
