body{
  background-image: url('./images/mainpagebg.jpg');
  background-poition: left bottom;
  background-size: cover;
  position: relative;
}

div{
  padding-top: 5%;
  text-align: center;
  color: white;
}
